{% load static %}
<div class="row">
    <div class="col-2">
        <h1>Threads connect us all—together,<br>we weave a beautiful tapestry!</h1>
        <p>In the pursuit of success, let your fashion choices empower you. <br>  Confidence shines brighter when you wear what makes you feel incredible.</p>
        <a href="{% url 'product_list' %}" class="btn">Explore Now &#8594;</a>
    </div>
    <div class="col-2">
        {% comment %} <img src="{% static 'images/image1.png' %}"> {% endcomment %}
        <img src="{% static 'images/image1.png' %}">
    </div>
</div>