{% load static %}

<div class="categories">
    <div class="small-container">
        <div class="scrolling-images">
            <div class="col-3">
                <img src="{% static 'images/tshirt-scroll (2).png' %}" class="zoom-image">
            </div>
            <div class="col-3">
                <img src="{% static 'images/tshirt-scroll (4).png' %}" class="zoom-image">
            </div>
            <div class="col-3">
                <img src="{% static 'images/tshirt-scroll (5).png' %}" class="zoom-image">
            </div>
            <!-- Duplicate for seamless effect -->
            <div class="col-3">
                <img src="{% static 'images/tshirt-scroll (2).png' %}" class="zoom-image">
            </div>
            <div class="col-3">
                <img src="{% static 'images/tshirt-scroll (4).png' %}" class="zoom-image">
            </div>
            <div class="col-3">
                <img src="{% static 'images/tshirt-scroll (5).png' %}" class="zoom-image">
            </div>
        </div>
    </div>
</div>
<!-- Featured Products -->

<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        
        {% for product in featured_products  %}
                 
        <div class="col-4">
            <a href="{% url 'product_details' product.id %}">   <img src=" {{ product.image.url }}"> </a>

            <h4>{{ product.title }}</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>{{ product.price }}</p>
        </div>

        {% endfor %}
       
    </div>

    <h2 class="title">Latest Products</h2>
    <div class="row">
        
        {% for product in latest_products  %}
                 
        <div class="col-4">
            <a href="{% url 'product_details' product.id %}">   <img src=" {{ product.image.url }}"> </a>

            <h4>{{ product.title }}</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>{{ product.price }}</p>
        </div>

        {% endfor %}
       
    </div>
   
</div>